[submodule "packages/backend/terraform"]
	path = packages/backend/terraform
	url = https://github.com/TusharSariyaOrg/excalidraw-tf-terraform.git
[submodule "tools"]
	path = tools
	url = https://github.com/TusharSariyaOrg/excalidraw-tf-rag.git
